<p id="notice"><%= notice %></p>

<h1>Discs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discs.each do |disc| %>
      <tr>
        <td><%= link_to 'Show', disc %></td>
        <td><%= link_to 'Edit', edit_disc_path(disc) %></td>
        <td><%= link_to 'Destroy', disc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disc', new_disc_path %>
