<p id="notice"><%= notice %></p>

<h1>Connect Four</h1>
<h2>Your color is red. The computer's color is black.</h2>
<% if @winning_player_name %>
  <h2><%= @winning_player_name %> won!</h2>
<% end %>
<p>
  <%= button_to "Reset Game", discs_path, method: :delete %>
</p>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @row_arr.each do |row| %>
      <tr>
        <% @spaces.where(row: row).each do |s| %>
          <% if s.row == 1 %>
            <%= button_to "Move", players_move_path(:column => s.column), disabled: @winning_player_name.present?, class: "game_button" %>
          <% end %>
          <%= content_tag :td, "", class: ["space_square", s.disc.try(:color)] %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
